html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  height: 100%;
  position: relative;
}

/* GENERAL CLASSES */
.inactive {
  display: none;
}

.centre {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

/* LIGHTBOX CSS */
#photo {
  position: relative;
}

img {
  display: block;
  margin: inherit;
}

.lightbox {
  /* rgba --> colour + opacity as last arg */
  background-color: rgba(0, 0, 0, 0.8);
}

.controls {
  width: 10%;
  float: left;
  text-align: center;
  top: 50%;
  bottom: 50%;
  position: absolute;
  color: white;
}

.previous {
  left: 5%;
}

.next {
  right: 5%;  
}

/* SEARCH DIV CSS */

#search-wrapper {
  width: 50%;
}

#search-box {
  height: 1.5em;
  font-size: 2em;
  font-weight: 100;
  border: 0;
  border-bottom: 0.1em solid black;
}

input:focus {
  outline: 0;
}

#search-box::-webkit-search-cancel-button {
  background-color: black;
}

#search-icon {
  width: 25%;
}

#search-icon > i {
  width: inherit;  
}

#search-icon, #search-box {
  text-align: center;
  float: left
}
