#wrapper {
  max-width: 100%;
}

/* GENERAL CLASSES */
.hide {
  display: none;
}

/* SEARCH DIV CSS */
#search-wrapper {
  width: 50%;
  margin: auto;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  position: absolute;
}

#search-box {
  width: 75%;
  text-align: center;
}

#search-box > input {
  width: 100%;
  height: 4em;
}

#search-icon {
  width: 25%;
}

#search-icon > i {
  width: inherit;  
}

#search-icon, #search-box {
  text-align: center;
  float: left
}
